@import "tailwindcss";

@theme inline {
  --color-primary: #D4AF37;
  --color-primary-dark: #b08d26;
  --color-background-dark: #0a0a0a;
  --color-surface-dark: #121212;
  --color-surface-light: #2a2a2a;
  --font-display: var(--font-plus-jakarta-sans), sans-serif;
  --color-background: var(--color-background-dark);
  --color-foreground: #f1f5f9;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

@layer utilities {

  .carbon-bg {
    background-color: #111;
    background-image: 
        linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
        linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-display);
  min-height: max(884px, 100dvh);
}
